/* :root {

}*/

body {
  background: linear-gradient(135deg, rgb(255, 255, 255)15%, rgba(25, 205, 91, 0.578)85%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; 
  position: relative;
}

/* ------------------selector css ----------------------*/

/* este é para itens pode na posição correta*/
.selector-container{
  position: absolute;
  margin-top: 100px;
}

.selector{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  width: 15vw;
  height: 10vh;
  border-radius: 15% 15% 15% 15%;
  border-style: solid;
  top: 75px;
  left: 10px;
  text-align: center;
  border-style: 15px rgb(169, 22, 22) solid 100%;
}

.s1 {
  border-style: 15px rgb(169, 22, 22) solid 100%;
  background-color:transparent;
  left:10%;
  /*eu esqueci como muda as bordas*/
}

.s2 {
  border-style: 15px rgb(169, 22, 22) solid 100%;
  background-color:transparent;
  left:30%;
  /*eu esqueci como muda as bordas*/
}

.s3 {
  border-style: 15px rgb(169, 22, 22) solid 100%;
  background-color:transparent;
  left:50%;
  /*eu esqueci como muda as bordas*/
}

.s4 {
  border-style: 500px rgb(169, 22, 22) solid 100%;
  background-color:transparent;
  left:70%;
  /*eu esqueci como muda as bordas*/
}

/*items do selectores*/
.css-container-itens{
  position: absolute;
  top:100%;
  z-index: 300;
}

/*todo itens do selector*/
.selector-container ul{
  list-style-type: none;
  padding: 0%;
  margin: 0%;
}

/*modifica visualização do elemento nos itens quando mouse está em cima
vvvvv ajuste background-color para visualizar efeito vvvvv*/
.selecting-itens{
  background-color: rgb(55, 62, 119);
  cursor: pointer;
  color:white;
}

/* ------------------button css ----------------------*/
.button {
  position:absolute;
  bottom:20%;
  background-color: rgba(25, 205, 91, 0.578);
  margin: 0;
  padding: 0;
  width: 25vw;
  height: 15vh;
  border-radius: 15% 15% 15% 15%;
  border-style: solid;
  text-align: center;
}

.button:hover  {
  transform:scale(1.1);
  background-color: rgba(24, 182, 82, 0.882);
  background-color: rgba(24, 182, 82, 0.882)
}

.calc {
  position:absolute;
  left:10%;
}

.clear {
  position:absolute;
  left:37%;
}

.reset {
  position:absolute;
 left:64%;
}

.instrucoes {
  position:static;
  display:flex;
}

/*-------------------------instrução---------------------------*/
.instrucao {
  position:absolute;
  min-width:20px;
  max-width:300px;
  min-height:17px;
  display:flex;
  flex-wrap:wrap;
  background:hidden;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color:rgb(15, 32, 80);
  font: bold 13px Arial;
  overflow-wrap: break-word;
}


.i1 {
  position:absolute;
  left:10%;
}

.i2 {
  position:absolute;
  left:30%;
}

.i3 {
  position:absolute;
  left:50%;
}

.i4 {
  position:absolute;
  left:70%;
}

.i5 {
  position:absolute;
  left:10%;
  top:40%;
  left:65%;
}

/*inicio parte css para javascript*/

/*tipo de botão para extender ou aparecer pop-up*/
[data-type="extendable"]{
  cursor: pointer;
}

/* ------------------menu css----------------------*/
.css-menu-container{
  display: flex;
  position: fixed;
  top:0;
  height: fit-content;
  z-index: 9999;
}

/*imagem do menu que expande quadrado*/
.css-img-menu{
  background: transparent;
}

/*quadrado aparecida após clicar o bottom*/
.css-menu{
  height: 100vh;
  /*min-width: px;
  width:90px;*/
  background-color: black;
  display:grid;
  position: relative;
}

/*------------resizer--------------------------------*/
/*resizer: must inside of data-type="extendedBox"*/
.resizer{
  background-color: transparent;
  position: absolute;
}
.resizer:hover{
  background-color: rgba(255, 255, 255, 0.76);
}

div[data-direction="n"]{top:-5px;}
div[data-direction="s"]{bottom:-5px;}
div[data-direction="w"]{left:-5px;}
div[data-direction="e"]{right:-5px;}
div[data-direction="nw"] { top: -5px; left: -5px; }
div[data-direction="ne"] { top: -5px; right: -5px; }
div[data-direction="ws"] { bottom: -5px; left: -5px; }
div[data-direction="se"] { bottom: -5px; right: -5px; }

div[data-direction="e"],
div[data-direction="w"]{
  cursor:ew-resize;
  width: 7px;
  height: 100%;
}

div[data-direction="n"],
div[data-direction="s"]{
  cursor:ns-resize;
  width: 100%;
  height: 7px;
}

div[data-direction="ne"],
div[data-direction="ws"]
{
  cursor: nesw-resize;
  width: 7px;
  height: 7px;
}

div[data-direction="nw"],
div[data-direction="se"]{
  cursor: nwse-resize;
  width: 7px;
  height: 7px;
  background-color: transparent;
}


/*-------------------draggable-------------------------*/
.draggable{
  background-color: aliceblue;
  border: 2px solid black;
  height:60px;
  user-select: none;
}

/*-------------------calculator-------------------------*/

.css-img-calculator{
  left:100px;
}

.btn-open-calculator-out{
  height: 60px;
}

.btn-open-calculator-inside{
  height: 60px;
  right: 0;
  top:-60px;
  position: absolute;
}

.calculator-container{
  position: absolute;
  z-index: 3000;
  width: 300px;
  height: 200px;
  background-color: rgb(0, 110, 255);

  display: flex;
  flex-direction: column; 
}

.calculator-result-container{
  width: 100%;
  height: 30px;
  border: 2px black solid;
  background-color: blanchedalmond;
}

/*
.calculator-resizer-container{
  position: relative;
}
*/

/* ------------------JS utilidade ----------------------*/
.hidden{
  width: 0;
  height: 0;
  opacity: 0%;
  visibility: hidden;
}



/* ------------------imagem temporária ----------------------*/
img[src="image/img_placeholder.jpg"]{
  width: 50px;
  height : 50px;
  background-color: transparent;
  border-radius: 10px;
  border: 5px;
  border-color: black;
  border-style:solid;
}
