 :root {

}

body {
   background: linear-gradient(135deg, rgb(255, 255, 255)15%, rgba(25, 205, 91, 0.578)85%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; 
}

.selector {
  background-color: rgba(25, 205, 91, 0.578);
  margin: 0;
  padding: 0;
  width: 15vw;
  height: 10vh;
  position:absolute;
  border-radius: 15% 15% 15% 15%;
  border-style: solid;
  top: 75px;
  left: 10px;
  text-align: center;
}

.s1 {
  border-style: 15px rgb(169, 22, 22) solid 100%;
  background-color:rgba(25, 205, 91, 0.578);
  //eu esqueci como muda as bordas*--
}

.button {
  position:absolute;
  bottom:20%;
}

.calc {
  position:absolute;
  left:10%;
}

.clear {
  position:absolute;
  left:25%;
}

.reset {
  position:absolute;
  left:44%;
}
